/Java/Examples/FormularioFactura/nbproject/private/
/Java/Examples/FormularioFactura/build/
/Java/Examples/FormularioFactura/dist/
/Java/Examples/RelacionClases/nbproject/private/
/Java/Examples/RelacionClases/build/