/Java/Examples/FormularioFactura/nbproject/private/
/Java/Examples/FormularioFactura/build/
/Java/Examples/FormularioFactura/dist/
/Java/Examples/RelacionClases/nbproject/private/
/Java/Examples/RelacionClases/build/
/Java/Examples/Bases_de_datos/nbproject/private/
/Java/Examples/Bases_de_datos/build/
/Java/Examples/Insertar_Consultar/nbproject/private/
/Java/Examples/Insertar_Consultar/build/
/Java/Examples/Sentencias_sql/nbproject/private/
/Java/Examples/Agenda/nbproject/private/
/Java/Examples/FormularioModificar/nbproject/private/
/Java/Examples/Agenda/build/
/Java/Examples/Agenda/dist/
/Java/Examples/Esfera/nbproject/private/
/Java/Examples/Esfera/build/
/Java/Examples/Caja/nbproject/private/
/Java/Examples/Caja/build/
/Java/Examples/PooList/nbproject/private/
/Java/Examples/PooList/build/
/Java/Examples/NominaHerencia/nbproject/private/
/Java/Examples/NominaHerencia/build/
/Java/Examples/HerenAddConsult/nbproject/private/
/Java/Examples/HerenAddConsult/build/
/Java/Examples/ComprobarConexion/nbproject/private/
/Java/Examples/ComprobarConexion/build/
/Java/Examples/Sentencias_sql/build/
/Java/Examples/FormularioModificar/build/
/Java/Examples/FormularioEliminar/nbproject/private/
/Java/Examples/FormularioEliminar/build/
/Java/Examples/CrudMVC/nbproject/private/
/Java/Examples/CrudMVC/build/
/Java/Examples/20192578094_20192578069/nbproject/private/
/Java/Examples/20192578094_20192578069/build/
/Java/Examples/20192578094_JulianGomez/nbproject/private/
/Java/Examples/20192578094_JulianGomez/build/
/Java/Examples/GraficosEstadisticas/nbproject/private/
/Java/Examples/GraficosEstadisticas/build/
/Java/Examples/AeropuertoCRUD/nbproject/private/
/Java/Examples/AeropuertoCRUD/build/
/Java/Examples/P6_20192578094/nbproject/private/
/Java/Examples/P6_20192578094/build/
/Java/Examples/Porblema3/nbproject/private/
/Java/Examples/Porblema3/build/
/Python/django/crudpractice/crudpractic/.env
